* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
:root {
    --primary-color: #FFB900;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/* COMMON  */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
    display: inline-block;
    padding: 0 14px;
    min-width: 114px;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}

/* HEADER  */
.header {
    background-color: #FFFCF4;
}
.header.fixed {
    z-index: 2;
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav ul {
    display: flex;
}

.header .nav {
    margin-left: auto;
}
.header .nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
}
.header .nav a:hover,
.header .nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}
.header .nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
}
.sign-up-btn {
    min-width: 144px;
    line-height: 28px;
    padding: 10px 14px;
}
.header .action {
    margin-left: 49px;
}

/* HERO  */
.hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}


.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .media-block {
    position: relative;
    width: 48%;
}


.hero .media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    width: 270px;
    padding: 28px 24px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .item .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.hero-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.icon-frist {
    background-color: #FCEFFF;
}
.icon-second {
    background-color:  #FFF9E8;
}
.icon-third {
    background-color:  #EBEAFF;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}
.hero .content-block .desc {
    margin: 22px 0;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}
.hero .cta-group .btn-see-course {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}
.btn-see-course:hover {
    opacity: 0.9;
}
.cta-group .watch-video {
    border: none;
    background-color: #FFFCF4;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.watch-video span:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin-right: 14px;
}
.content-block .desc strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}
.content-block .desc strong + strong {
    margin-left: 28px;
}

/* POPULAR  */

.popular {
    padding: 200px 0;
}
.popular .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}
.popular .sliders {
    display: flex;
    justify-content: space-between;
}
.popular .sliders img {
    margin-top: -100px;
}

.popular .sliders .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 55px;
}
.popular .list {
    display: flex;
    gap: 30px;
}

.popular .item {
    padding: 22px;
    width: 370px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .img {
    height: 278px;
    object-fit: cover;
    width: 100%;
}

.popular .item .rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .item .rate img {
    margin-right: 6px;
}

.popular .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    width: 458px;
}

.popular .item .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    width: 326px;
}
.popular .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .title h3 {
    margin-top: 16px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.popular .title span {
    color: #FEA31B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.popular .booking {
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-items: center;
}

.popular .booking strong {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.popular .booking button {
    border-radius: 25px;
    background: #FFB900;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}

.popular .booking button:hover {
    background-color: #171100;
}

/* QUOTE  */
.quote {
    background-color: #2E2100;
    color: #FFF;
    height: 380px;
    padding: 96px 0;
}

.quote .main-content {
    display: flex;
}

.quote .left {
    width: 40%;
}

.quote .left .author {
    margin-top: 18px;
    margin-bottom: 6px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
}

.quote .left .position {
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 28px;
}

.quote .left .three-dot span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.quote .left .three-dot span:nth-child(2) {
    background-color: #FFB900;
}

.quote .right {
    width: 60%;
    position: relative;
}

.quote .double-quote {
    position: absolute;
    top: -16px;
    left: -32px;
}

.quote .right .desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}

.quote .img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

/* SIGN UP  */

.sign-up {
    padding: 200px 0;
}
.sign-up .main-content {
    display: flex;
}
.sign-up .images {
    width: 50%;
    display: flex;
}

.sign-up .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
}
.sign-up .images img + img {
    margin-left: 30px;
    margin-top: -34px;
}

.sign-up .right {
    padding-top: 58px;
    padding-left: 130px;
    width: 50%;
}

.sign-up .right h2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.4rem;
}

.sign-up .right .desc {
    padding-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.sign-up .right .report {
    color: #5F5B53;
    font-family: Poppins;
    padding-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.sign-up .right .btn {
    margin-top: 32px;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #FFB900;
    padding: 11px 37px;
    border: none;
}

/* JOIN NOW  */
.join-now {
    padding-bottom: 200px;
}

.join-now .main-content {
    display: flex;
    justify-content: space-between;
}

.join-now .left {
    width: 600px;
    padding-top: 71px;
    padding-left: 16px;
}

.join-now .left h2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.76px;
    line-height: 1.3;
}

.join-now .left p {
    margin-bottom: 32px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.join-now .left button {
    border: none;
    padding: 12px 32px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 26px;
    background-color: #FFB900;
}